/ %h1 Admin::Application#index
/ %p Find me in app/views/admin/application/index.html.haml
.row#admin
  .col-md-9
    %header
      %h1 Admin Lounge
    %p Welcome to Ticketee's Admin Lounger. Enjoy Your Stay!

  .col-md-3
    %h2 Admin Links
    %ul.nav.nav-stacked
      %li= link_to "Users", admin_users_path
