.header
  %h1 
    Projects
    -admins_only do
      %ul.actions
        %li= link_to " New Project", new_admin_project_path, class: "new"

#projects
  - @projects.each do |project|
    %h2= link_to project.name, project
    %p= project.description